<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Unidad Educativa Alfredo Veintimilla Moscozo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <header class="col-md-12 col-sm-12 header_principal">
          <img class = "col-md-1 col-sm-1 img-fluid" src="../static/img/logo.jpeg" alt="logo">
          <h1 class="col-md-8 col-sm-12 texto header_h1">UNIDAD EDUCATIVA<br>ALFREDO VEINTIMILLA MOSCOZO</h1>
          <div class="col-md-3 col-sm-3 icon-social">
            <a href="#" class="fa fa-google icon-social"></a>
            <a href="#" class="fa fa-twitter icon-social"></a>
            <a href="#" class="fa fa-facebook icon-social"></a>
          </div>
        </header>  
      </div>
      <div class="row sticky-top">
        <nav class="navegacion navbar navbar-expand-sm navbar-light col-xl-12">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menuPrincipal" class="collapse navbar-collapse justify-content-end">
                <ul class="list-inline navbar-nav w-100">
                    <li class="list-inline-item nav-item active px-2 mr-auto"><a class="nav-link texto navegacion_element" href="index.html">INICIO</a></li>
                    <li class="list-inline-item nav-item px-2"><a class="nav-link texto navegacion_element" href="login_profesor.html">PROFESOR</a></li>
                    <li class="list-inline-item nav-item px-2"><a class="nav-link texto navegacion_element" href="linea_tiempo.html">HISTORIA</a></li>
                    <li class="list-inline-item nav-item px-2"><a class="nav-link texto navegacion_element" href="quienes_somos.html">¿QUIENES SOMOS?</a></li>
                    <li class="list-inline-item nav-item px-2"><a class="nav-link texto navegacion_element" href="que_hacemos.html">¿QUE HACEMOS?</a></li>
                </ul>
            </div>
        </nav>
      </div>      
      <div class="principal_2 row">     
        <section class="col-md-12 col-sm-12">
          <article class="col-md-12 col-sm-12">
            <div class="col-md-3 col-sm-3">
              
            </div>
            <div class="col-md-6 col-sm-6">
              <h2 class="col-md-12 col-sm-12 caja_integrantes">INTEGRANTES:</h2>
              <ul class="col-md-12 col-sm-12 lista_integrantes">
                <li class="integrantes texto">EMILIO MORAN PILLIGUA</li>
                <li class="integrantes texto">LUIS TORO YEROVI</li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              
            </div>            
          </article>
        </section>
      </div>
      <div class="row">
        <footer class="col-md-12 col-sm-12">
          <a class="texto footer_a" href="contactanos.html">CONTACTANOS</a>
          <p class="texto footer_p">Unidad Educativa Alfredo Veintimilla Moscozo © 2018. Todos los derechos reservados.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
